table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }
.table-head{
      background-color: black;
      color: white;
  }
/*--------edit-button ------------*/
.button {
  margin-left: 10px;
  border-radius: 5px;
  width: auto;
  color: white;
  padding: 0 10px;
  border: 2px solid black;
}
.edit-button{
  background-color: green;
}
.delete-button{
  background-color: red;
}
.close-button{
 background-color: red;
}
